<div id="top1">
  <div class="top2_wrapper" id="top2">
    <div class="container">

      <div class="top2 clearfix">

        <header>
          <div class="logo_wrapper">
            <a href="index-2.html" class="logo scroll-to">
              <img src="../assets/images/logo.png" alt="" class="img-responsive">
            </a>
          </div>
        </header>

        <div class="navbar navbar_ navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse navbar-collapse_ collapse">
            <ul class="nav navbar-nav sf-menu clearfix">
              <li class="sub-menu sub-menu-1">
                <a href="#home">Home
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul>
                  <li>
                    <a href="index-2.html">Home version 1</a>
                  </li>
                  <li>
                    <a href="index-1.html">Home version 2</a>
                  </li>
                </ul>
              </li>

              <li class="sub-menu sub-menu-1">
                <a href="#">Pages
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul>
                  <li>
                    <a href="listing.html">Car Listing (right sidebar)</a>
                  </li>
                  <li>
                    <a href="listing-left.html">Car Listing (left sidebar)</a>
                  </li>
                  <li>
                    <a href="listing-without-shadow.html">Car Listing (without shadow)</a>
                  </li>
                  <li>
                    <a href="details.html">Car Details (right sidebar)</a>
                  </li>
                  <li>
                    <a href="details-left.html">Car Details (left sidebar)</a>
                  </li>

                </ul>
              </li>
              <li>
                <a href="#welcome">About</a>
              </li>
              <li>
                <a href="#best">Best offers</a>
              </li>
              <li>
                <a href="#testimonials">Testimonial</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>



      </div>

    </div>
  </div>

</div>