<div id="home" class="">
  <div id="slides_wrapper" class="">
    <div id="slides">
      <ul class="slides-container">
        <li class="nav1">
          <img src="../assets/images/slide03.jpg" alt="" class="img">
          <div class="caption">
            <div class="container">
              <div class="txt1">
                <span>FIND YOUR DREAM CAR</span>
              </div>
              <div class="txt2">CAR M5 GRAN TURISMO</div>
              <div class="txt4">MODEL 2017
                <span>$64,000</span>
              </div>
              <div class="link2">
                <a href="details.html" class="slider-link2">
                  <span>SEE DETAILS</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav2">
          <img src="../assets/images/slide04.jpg" alt="" class="img">
          <div class="caption">
            <div class="container">
              <div class="txt1">
                <span>FIND YOUR DREAM CAR</span>
              </div>
              <div class="txt2">AUTO 330e iPERFORMANCE</div>
              <div class="txt4">MODEL 2017
                <span>$99,000</span>
              </div>
              <div class="link2">
                <a href="details.html" class="slider-link2">
                  <span>SEE DETAILS</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
      </nav>
    </div>
  </div>
</div>