<div class="bot1-wrapper">
    <div class="container">
      <div class="bot1 clearfix">
        <div class="row">
          <div class="col-sm-3">

            <div class="bot1-title">
              <span>LATEST NEWS</span>
            </div>

            <div class="news-block">
              <div class="news1">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="news1">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="news1">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-3">

            <div class="bot1-title">
              <span>LATEST AUTOS</span>
            </div>

            <div class="autos-block">
              <div class="autos1 clearfix">
                <figure>
                  <img src="../assets/images/latest01.jpg" alt="" class="img-responsive">
                </figure>
                <div class="caption">
                  <div class="txt1">VEHICLE NAME</div>
                  <div class="txt2">35,000 KM</div>
                  <div class="txt3">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="autos1 clearfix">
                <figure>
                  <img src="../assets/images/latest02.jpg" alt="" class="img-responsive">
                </figure>
                <div class="caption">
                  <div class="txt1">VEHICLE NAME </div>
                  <div class="txt2">35,000 KM</div>
                  <div class="txt3">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="autos1 clearfix">
                <figure>
                  <img src="../assets/images/latest03.jpg" alt="" class="img-responsive">
                </figure>
                <div class="caption">
                  <div class="txt1">VEHICLE NAME</div>
                  <div class="txt2">35,000 KM</div>
                  <div class="txt3">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>


            </div>

          </div>
          <div class="col-sm-3">

            <div class="bot1-title">
              <span>from twitter</span>
            </div>

            <div class="twitter-block">
              <div class="twitter1 clearfix">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">20 minutes ago</a>
                </div>
              </div>
              <div class="twitter1 clearfix">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">20 minutes ago</a>
                </div>
              </div>
              <div class="twitter1 clearfix">
                <div class="txt1">Duis scelerisque aliquet ante donec libero pede porttitor dacu</div>
                <div class="txt2">
                  <a href="#">20 minutes ago</a>
                </div>
              </div>



            </div>

          </div>
          <div class="col-sm-3">

            <div class="bot1-title">
              <span>CONTACT US</span>
            </div>

            <div class="address2">
              <span aria-hidden="true" class="ei icon_pin"></span>202 W 7th St, Suite 233 Los Angeles, California 90014 USA</div>

            <div class="bot1-map-wrapper">
              <div class="phone2">
                <span aria-hidden="true" class="ei icon_phone"></span>Phone: 1-800- 624-5462</div>
              <div class="fax2">
                <span aria-hidden="true" class="ei icon_printer"></span>FAX: 1-800- 624-5462</div>
              <div class="email2">
                <span aria-hidden="true" class="ei icon_mail"></span>Email:
                <a href="#">info@domain.com</a>
              </div>
              <div class="open-loaction-map">
                <a href="#">Open Location Map</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>