<div id="intro">
  <div class="container">
    <div class="booking-wrapper">
      <div class="booking">
        <form action="javascript:;" class="form1">
          <div class="row">
            <div class="col1">
              <div class="select1_wrapper">
                <label>Manufacture</label>
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%">
                    <option value="1">Any Make</option>
                    <option value="2">Agfa Toreno</option>
                    <option value="3">Astin Barton</option>
                    <option value="4">Avdi</option>
                    <option value="5">Bunesley</option>
                    <option value="6">BNQ</option>
                    <option value="7">Baratti</option>
                  </select>
                </div>
                <a href="#" class="more">MISSING MANUFACTURER?</a>
              </div>
            </div>
            <div class="col1">
              <div class="select1_wrapper">
                <label>Model</label>
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%">
                    <option value="1">Any Model</option>
                    <option value="2">Model 1</option>
                    <option value="3">Model 2</option>
                    <option value="4">Model 3</option>
                    <option value="5">Model 4</option>
                    <option value="6">Model 5</option>
                    <option value="7">Model 6</option>
                  </select>
                </div>
                <a href="#" class="more">MISSING MODEL?</a>
              </div>
            </div>
            <div class="col1">
              <div class="select1_wrapper">
                <label>Status</label>
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%">
                    <option value="1">Vehicle Status</option>
                    <option value="2">Status 1</option>
                    <option value="3">Status 2</option>
                    <option value="4">Status 3</option>
                    <option value="5">Status 4</option>
                    <option value="6">Status 5</option>
                    <option value="7">Status 6</option>
                  </select>
                </div>
                <a href="#" class="more">E.G: NEW, USED, CERTIFIED</a>
              </div>
            </div>
            <div class="col1">
              <div class="select1_wrapper">
                <label>Min Year</label>
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%">
                    <option value="1">Min Year</option>
                    <option value="2">2018</option>
                    <option value="3">2017</option>
                    <option value="4">2016</option>
                    <option value="5">2015</option>
                    <option value="6">2014</option>
                    <option value="7">2013</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col1">
              <div class="select1_wrapper">
                <label>Max Year</label>
                <div class="select1_inner">
                  <select class="select2 select" style="width: 100%">
                    <option value="1">Max Year</option>
                    <option value="2">2018</option>
                    <option value="3">2017</option>
                    <option value="4">2016</option>
                    <option value="5">2015</option>
                    <option value="6">2014</option>
                    <option value="7">2013</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col2">
              <div id="slider-range-wrapper">
                <div class="txt">PRICE RANGE</div>

                <div id="slider-range"></div>

                <div class="clearfix">
                  <input type="text" id="amount" readonly>
                  <input type="text" id="amount2" readonly>
                </div>
              </div>
            </div>
            <div class="col3">
              <div class="adv-serach">
                <a href="#">ADVANCED SEARCH</a>
              </div>
              <button type="submit" class="btn-default btn-form1-submit1">
                <span>SEARCH THE VEHICLE</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumb1">
          <div class="thumbnail clearfix">
            <figure>
              <a href="details.html">
                <img src="../assets/images/home01.jpg" alt="" class="img-responsive">
              </a>
            </figure>
            <div class="caption">
              <div class="txt1">
                <span class="txt">FIRST DRIVE REVIEW</span>
                <span class="stars">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
              </div>
              <div class="txt2">2010 Nord Bistang / YELLOW</div>
              <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc
                consequ sem velde metus imperdiet lacinia.</div>
              <div class="link">
                <a href="details.html" class="btn-default btn4">
                  <span>READ MORE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumb1">
          <div class="thumbnail clearfix">
            <figure>
              <a href="details.html">
                <img src="../assets/images/home02.jpg" alt="" class="img-responsive">
              </a>
            </figure>
            <div class="caption">
              <div class="txt1">
                <span class="txt">INSTRUMENTED TEST</span>
                <span class="stars">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
              </div>
              <div class="txt2">1950 Baratti / BLACK</div>
              <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc
                consequ sem velde metus imperdiet lacinia.</div>
              <div class="link">
                <a href="details.html" class="btn-default btn4">
                  <span>READ MORE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumb1">
          <div class="thumbnail clearfix">
            <figure>
              <a href="details.html">
                <img src="../assets/images/home03.jpg" alt="" class="img-responsive">
              </a>
            </figure>
            <div class="caption">
              <div class="txt1">
                <span class="txt">BUYERS INFO</span>
                <span class="stars">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
              </div>
              <div class="txt2">2013 Microdes C / WHITE</div>
              <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc
                consequ sem velde metus imperdiet lacinia.</div>
              <div class="link">
                <a href="details.html" class="btn-default btn4">
                  <span>READ MORE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>