<div class="top0">
  <div class="container">

    <div class="block-left">
      <div class="address1">
        <span aria-hidden="true" class="ei icon_pin"></span>39TH ROAD ST, NEW-YORK, US 00123</div>
      <div class="phone1">
        <span aria-hidden="true" class="ei icon_phone"></span>1 - 917 - 338 - 6823</div>
      <div class="social_wrapper">
        <ul class="social clearfix">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="block-right">
      <div class="signin1">
        <a href="#">SIGN IN</a>
      </div>
      <div class="register1">
        <a href="#">REGISTER</a>
      </div>
      <div class="lang1">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">EN
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a class="ge" href="#">DE</a>
            </li>
            <li>
              <a class="ru" href="#">RU</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>