<div id="best">
  <div class="container">

    <div class="title1">
      <span>BEST OFFERS FROM AUTOCLUB</span>
    </div>

    <div class="tabs1">
      <div class="tabs1_tabs">
        <ul>
          <li class="active">
            <a href="#tabs1-1">MOST RESEARCHED MANUFACTURERS</a>
          </li>
          <li>
            <a href="#tabs1-2">LATEST VEHICLES ON SALE</a>
          </li>
        </ul>
      </div>
      <div class="tabs1_content">
        <div id="tabs1-1">

          <div class="row">
            <div class="col-sm-12 col-md-9">
              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best01.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2015</div>
                        <div class="txt2">BCD M6 Sport Hybrid</div>
                        <div class="info clearfix">
                          <span class="price">$24,380</span>
                          <span class="speed">35,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2015 • Automatic • White • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best02.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2016</div>
                        <div class="txt2">2016 Morraro Tittarosa </div>
                        <div class="info clearfix">
                          <span class="price">$95,900</span>
                          <span class="speed">99,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2016 • Manual • Red • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best03.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2015</div>
                        <div class="txt2">2016 Brisatti Vooron</div>
                        <div class="info clearfix">
                          <span class="price">$98,995</span>
                          <span class="speed">95,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2015 • Automatic • Blue • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best04.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2017</div>
                        <div class="txt2">2017 Luxus-AMD C63</div>
                        <div class="info clearfix">
                          <span class="price">$31,900</span>
                          <span class="speed">12,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2017 • Automatic • Dark Red • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best05.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2016</div>
                        <div class="txt2">Marodess - AMG</div>
                        <div class="info clearfix">
                          <span class="price">$18,995</span>
                          <span class="speed">52,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2016 • Automatic • Yellow • Diesel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best06.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2017</div>
                        <div class="txt2">2017 Marodess - AMG</div>
                        <div class="info clearfix">
                          <span class="price">$64,380</span>
                          <span class="speed">210 KM</span>
                        </div>
                        <div class="txt3">
                          New • 2017 • Automatic • Green • Diesel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <ul class="ul1">
                <li>
                  <a href="#">All manufacturers</a>
                </li>
                <li>
                  <a href="#">ASTIN KARTON</a>
                </li>
                <li>
                  <a href="#">ALPHA MGM</a>
                </li>
                <li>
                  <a href="#">AVDI</a>
                </li>
                <li>
                  <a href="#">BNQ</a>
                </li>
                <li>
                  <a href="#">LAND QRUVER</a>
                </li>
                <li>
                  <a href="#">MARODESS</a>
                </li>
                <li>
                  <a href="#">PURCHE</a>
                </li>
                <li>
                  <a href="#">SALAKI</a>
                </li>
                <li>
                  <a href="#">TINOTA</a>
                </li>
                <li>
                  <a href="#">VURVU</a>
                </li>
                <li>
                  <a href="#">HOSHAGEN</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div id="tabs1-2">

          <div class="row">
            <div class="col-sm-12 col-md-9">

              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best04.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2017</div>
                        <div class="txt2">2017 Luxus-AMD C63</div>
                        <div class="info clearfix">
                          <span class="price">$31,900</span>
                          <span class="speed">12,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2017 • Automatic • Dark Red • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best05.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2016</div>
                        <div class="txt2">Marodess - AMG</div>
                        <div class="info clearfix">
                          <span class="price">$18,995</span>
                          <span class="speed">52,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2016 • Automatic • Yellow • Diesel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best06.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2017</div>
                        <div class="txt2">2017 Marodess - AMG</div>
                        <div class="info clearfix">
                          <span class="price">$64,380</span>
                          <span class="speed">210 KM</span>
                        </div>
                        <div class="txt3">
                          New • 2017 • Automatic • Green • Diesel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best01.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2015</div>
                        <div class="txt2">BMQ M6 Sport Hybrid</div>
                        <div class="info clearfix">
                          <span class="price">$24,380</span>
                          <span class="speed">35,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2015 • Automatic • White • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best02.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2016</div>
                        <div class="txt2">2016 Torrari Prestalosa </div>
                        <div class="info clearfix">
                          <span class="price">$95,900</span>
                          <span class="speed">99,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2016 • Manual • Red • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb2">
                    <div class="thumbnail clearfix">
                      <figure>
                        <a href="details.html">
                          <img src="../assets/images/best03.jpg" alt="" class="img-responsive">
                        </a>
                      </figure>
                      <div class="caption">
                        <div class="txt1">REGISTERED 2015</div>
                        <div class="txt2">2016 Busalti Vuron</div>
                        <div class="info clearfix">
                          <span class="price">$98,995</span>
                          <span class="speed">95,000 KM</span>
                        </div>
                        <div class="txt3">
                          Used • 2015 • Automatic • Blue • Petrol
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <ul class="ul1">
                <li>
                  <a href="#">All manufacturers</a>
                </li>
                <li>
                  <a href="#">ASTIN KARTON</a>
                </li>
                <li>
                  <a href="#">ALPHA MGM</a>
                </li>
                <li>
                  <a href="#">AVDI</a>
                </li>
                <li>
                  <a href="#">BNQ</a>
                </li>
                <li>
                  <a href="#">LAND QRUVER</a>
                </li>
                <li>
                  <a href="#">MARODESS</a>
                </li>
                <li>
                  <a href="#">PURCHE</a>
                </li>
                <li>
                  <a href="#">SALAKI</a>
                </li>
                <li>
                  <a href="#">TINOTA</a>
                </li>
                <li>
                  <a href="#">VURVU</a>
                </li>
                <li>
                  <a href="#">HOSHAGEN</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>





  </div>
</div>